name: Deploy to Railway

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Railway CLI
        run: npm install -g @railway/cli

     - name: Check railway version & login
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
        run: |
          railway --version
          railway whoami || echo "not logged in"
          railway login --token "$RAILWAY_TOKEN"
          railway whoami

      - name: Deploy
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
        run: |
          railway up \
            --service sleep-tracker \
            --environment ${{ secrets.RAILWAY_ENVIRONMENT }} \
            --project ${{ secrets.RAILWAY_PROJECT_ID }} \
            --detach
